{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
    <div class="mb-3">
        <label for="" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="username" aria-describedby="">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}